<div>
    <div class="title">
        Chords
    </div>
    
    <div *ngIf="selectorType == 'list'">
        <select name="ddlChord" [(ngModel)]="currentChordName">
            <option *ngFor="let name of chordNames" [ngValue]="name">{{name}}</option>
        </select>
    </div>

    <div *ngIf="selectorType == 'buttons'">
        <a *ngFor="let name of chordNames"
            class="box" [class.selected]="currentChordName == name"
            (click)="selectChord(name)">
            {{name}}
        </a>
    </div>

    <input type="text" [(ngModel)]="newChordName" />
    <button type="button" (click)="newChord()" [disabled]="newChordName == ''">
        New Chord
    </button>
</div>
