.fretboard {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #451a1a;
}

.string {
    height: 10px;
    background: url(/assets/string.png) repeat-x;
}

.string:not(:last-child) {
    margin-bottom: 10px;
}

.string.muted, .string.muted .fret {
    opacity: 0.5;
}

.fret {
    position: absolute;
    display: inline-block;
    height: 35px;
}

.fret:not(.open-string) {
    border-right: 2px solid #ddd;
}

.fret.fretted::after {
    content: '';
    display: inline-block;
    position: relative;
    left: calc(50% - 5px);
    top: 8px;
    border-radius: 10px;
    border-color: #dd4;
    border: 5px solid #dd4;
}

.fret.open-string.fretted::after {
    top: calc(50% - 5px);
}

.fret:hover,
.fret.highlight {
    background-color: #dd4;
    opacity: 0.4;
}

.fret.fretted:hover,
.fret.fretted.highlight {
    opacity: 0.6;
}

.open-string {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    top: -6px;
    left: -5px;
}
