.fretboard {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #451a1a;
}

.string {
    height: 10px;
    background: url(/assets/string.png) repeat-x;
}

.string:not(:last-child) {
    margin-bottom: 10px;
}

.string.muted, .string.muted .fret {
    opacity: 0.5;
}

.fret {
    position: absolute;
    display: inline-block;
    height: 35px;
}

.fret:not(.open-string) {
    border-right: 2px solid #ddd;
}

.fret.fretted {
    background: url(/assets/fret-point.png) no-repeat center;
}

.fret:not(.fretted):hover,
.fret:not(.fretted).highlight {
    background-color: #dd4;
    opacity: 0.4;
}

.fret.fretted:hover,
.fret.fretted.highlight {
    background: #dd4 url(/assets/fret-point.png) no-repeat center;
    opacity: 0.6;
}

.open-string {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    top: -6px;
    left: -5px;
}

.open-string:hover, .open-string.fretted {
    opacity: 1;
    border: 5px solid #db0;
    border-radius: 5px;
    width: 0px;
    height: 0px;
}
