<div>
    <div class="title">
        Scales
    </div>

    <select [(ngModel)]="currentKey">
        <option *ngFor="let key of keys" [value]="key">
            {{key}}
        </option>
    </select>

    <button (click)="decrement()">-</button>
    <button (click)="increment()">+</button>

    <select [(ngModel)]="currentScaleName">
        <option *ngFor="let name of scaleNames" [value]="name">
            {{name}}
        </option>
    </select>

    <button type="button" (click)="playScale(currentScaleName)">
        Play
    </button>
    <br/>

    {{getScaleNotes()}}
</div>