<!-- guitar -->
<fretboard width="800" strings="E4,B3,G3,D3,A2,E2" selectorType="buttons"
           fretPositions="66,107,146,183,217,250,281,310,338,364,388,411,433,453,473,491,509,525,541,555,569,582,595,608">
    <chord name="Em" frets="0,0,0,2,2,0"></chord>
    <chord name="Emaj" frets="0,0,1,2,2,0"></chord>
    <chord name="Cmaj" frets="0,1,0,2,3,-"></chord>
    <chord name="Gmaj" frets="4,0,0,0,2,3"></chord>
    <chord name="Dmaj" frets="2,3,1,0,-,-"></chord>
    <chord name="Am" frets="0,1,3,2,0,-"></chord>
    <chord name="Amaj" frets="0,3,2,1,0,-"></chord>
    <scale name="Emaj" notes="E2,F#2,G#2,A2,B2,C#3,D#3,E3"></scale>
</fretboard>

<!-- bass -->
<!--<fretboard width="800"
            fretPositions="45,87,127,165,201,234,266,296,324,351,376,400,422,444,464,483,500,517,533,548"
            strings="G2,D2,A1,E1">
    <chord name="Em" frets="-,2,2,0"></chord>
</fretboard>-->