<div class="panel">
    <strong>Chords</strong>
    <select *ngIf="selectorType == 'list'" name="ddlChord" [(ngModel)]="currentChord" (ngModelChange)="toggleTones(autoplay)">
        <option *ngFor="let name of chordNames" [ngValue]="chords[name]">{{name}}</option>
    </select>

    <div *ngIf="selectorType == 'buttons'">
        <a *ngFor="let name of chordNames"
        class="box"
        [class.selected]="currentChordName == name"
        (click)="selectChord(name)">
            {{name}}
        </a>
    </div>

    <input type="text" [(ngModel)]="newChordName" [style.margin-top.px]="5" />
    <button type="button" (click)="newChord()" [disabled]="newChordName == ''">
        New Chord
    </button>
</div>
