Chords

<select *ngIf="selectorType == 'list'" name="ddlChord" [(ngModel)]="currentChord" (ngModelChange)="toggleTones(autoplay)">
    <option *ngFor="let name of chordNames" [ngValue]="chords[name]">{{name}}</option>
</select>

<label>
    <input type="checkbox" [(ngModel)]="autoplay" />
    Autoplay
</label>

<div *ngIf="selectorType == 'buttons'">
    <a *ngFor="let name of chordNames"
       class="box"
       [class.selected]="_currentChordName == name"
       (click)="selectChord(name)">
        {{name}}
    </a>
</div>

<div class="fretboard" [style.width.px]="width" [style.position]="'relative'">
    <div *ngFor="let point of currentChord; let string = index"
        [class]="'string s' + string" [class.muted]="point == null">
        <span *ngFor="let fret of frets"
            class="fret"
            [class.open-string]="fret.index == 0"
            [class.fretted]="fret.index == point"
            [style.left.px]="fret.left"
            [style.width.px]="fret.width"
            [style.top.px]="fret.index == 0 ? null : string * 20"
            (mouseover)="mouseover(string, fret.index)"
            (click)="selectFret(string, fret.index)"></span>
    </div>
</div>

<div>{{getStringAndFret()}}</div>

<button type="button" (click)="toggleTones()">
    {{ playing ? 'Stop' : 'Play' }}
</button>
