<label>
    <input type="checkbox" [(ngModel)]="autoplay" />
    Autoplay
</label>
<br/>

<chord-selector
    [chords]="chords"
    [chordNames]="chordNames"
    [currentChordName]="_currentChordName"
    [selectorType]="selectorType"
    (select)="onSelectChord($event)"
    (new)="onNewChord($event)">
</chord-selector>
<br/>

<scale-selector
    [scales]="_scales"
    [scaleNames]="scaleNames"
    [(currentScaleName)]="_currentScaleName"
    (select)="onSelectScale($event)"
    (batchTones)="onBatchTones($event)">
</scale-selector>
<br/>

<div class="fretboard" [style.width.px]="width" [style.position]="'relative'">
    <div *ngFor="let point of currentChord; let string = index" [class]="'string s' + string">
        <span
            *ngFor="let fret of frets"
            class="fret"
            [class.highlight]="view == View.Scale && fret.index < 5 && scaleHighlight == getNoteName(string, fret.index)"
            [class.open-string]="fret.index == 0"
            [class.fretted]="(view == View.Chord && fret.index == point) || (view == View.Scale && fret.index < 5 && currentScale.includes(getNoteName(string, fret.index)))"
            [style.left.px]="fret.left"
            [style.width.px]="fret.width"
            [style.top.px]="fret.index == 0 ? null : string * 20"
            (mouseover)="mouseover(string, fret.index)"
            (click)="selectFret(string, fret.index)"></span>
    </div>
</div>

<div>{{stringAndFret}}</div>

<button type="button" (click)="toggleTones()">
    {{ playing ? 'Stop' : 'Play' }}
</button>
