body {
    background-color: #000;
    color: #ddd;
}

button, input, select {
    color: #ddd;
    background-color: #333;
}

input[type='text'] {
    outline: none;
    border: 1px solid #ddd;
}

button {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button:active {
    color: #333;
    background-color: #ddd;
    border: 1px solid #333;
}

.box, .panel {
    display: inline-block;
    border-radius: 5px;
    color: black;
}

.panel {
    background-color: #776;
    padding: 0 5px 5px 5px;
    margin-bottom: 5px;
}

.panel .title {
    background-color: #224;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ddd;
    height: 20px;
    padding: 5px 5px 0 5px;
    margin: 0 -5px 5px -5px;
}

.box {
    cursor: pointer;
    background-color: #aaa;
    font-size: 10pt;
    padding: 3px;
    margin-right: 3px;
}

.box:hover, .box.selected {
    background-color: #444;
    color: #aaa;
}